.header-img {
    position: relative;
    height: 500px;
}

.header-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.c-getapp{
    font-size: 16px;
}


.c-navitem li{
    font-size: 20px;
}

.title-image-section{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-image-section img{
    width: 30rem;
}
.description-section{
    position: absolute;
    top: 240px;
    width: 100%;
    font-size: 200%;
    text-align: center;
}
.c-searchsec{
    position: absolute;
    width: 140px;
    top: 60%;
}


@media (max-width:500px) {
    .title-image-section img{
        width: 20rem;
    }
    .description-section{
        top: 180px;
    }
}


@media (max-width:400px) {
    .title-image-section img{
        width: 10rem;
    }
    .description-section{
        top: 150px;
        font-size: 150%;
    }
}